<html>
<head>
    <title>{{ article.name }}</title>
</head>
<body>
<h1>{{ article.name }}</h1>
<p>{{ article.description }}</p>
<p>{{ article.label  }}</p>
<em>prix : {{ article.price }}</em>
</body>
</html>