<html>
<head>
    <title>Add an user</title>
</head>
<body>
{{ form_start(form) }}
{{ form_errors(form) }}
<div>
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</div>
{{ form_end(form) }}
</body>
</html>